@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --text: #ebe4eb;
  --background: #070507;
  --background-blur: #070507d3;
  --primary: #c1adc3;
  --secondary: #59424e;
  --accent: #a2828d;
  --secondary-font: "Bebas Neue", sans-serif;
  --primary-font: "PT Sans", sans-serif;
  --transition: 250ms ease-in-out;
  --blur: blur(5px);
  --border: thin solid var(--secondary);
  --spacing: 2rem;
  --border-radius: 2rem;
}
